In [ ]:
import pymysql
# connect database
db = pymysql.connect(host='localhost', user='root', password='050801', db='PMS01_J')

In [ ]:
myc1 = db.cursor()
myc1.execute('SHOW TABLES')
print(myc1.fetchall())

In [ ]:
myc1.execute('SELECT * FROM STUDENT_J')
print(myc1.fetchmany(2))
print(myc1.fetchone())
print(myc1.fetchall())

In [ ]:
myc1.execute('SELECT * FROM STUDENT_J where sid > 1')
print(myc1.fetchall())
print(myc1.fetchone())
print(myc1.fetchall())

In [ ]:

myc1.execute('SHOW TABLES;')
print(myc1.fetchall())

In [ ]:
myc1.execute('SELECT * FROM STUDENT_J;')
for i in myc1.fetchall():
    print(i)

In [ ]:
myc1.execute(
    """
insert into STUDENT_J (sid, sname, dno, sage)
values 
(5, 'eee', 'do1', 25),
(6, 'fff', 'do1', 26),
(7, 'ggg', 'do1', 27);
"""
)

In [ ]:
db.commit()

In [ ]:
myc1.execute('SELECT * FROM STUDENT_J;')
for i in myc1.fetchall():
    print(i)

In [ ]:
myc1.execute('delete from STUDENT_J where sage between 22 and 24;')
db.commit()

In [ ]:
myc1.execute('SELECT * FROM STUDENT_J;')
for i in myc1.fetchall():
    print(i)

In [ ]:
myc1.execute('''
update STUDENT_J
set dno = 'd02'
where sid = 5;
''')
db.commit()

In [ ]:
myc1.execute('SELECT * FROM STUDENT_J;')
for i in myc1.fetchall():
    print(i)

In [ ]:
myc1.execute('''
CREATE TABLE SC_J (
sid INT,
cid INT,
score INT,
PRIMARY KEY (sid, cid)
);
''')

In [ ]:
myc1.execute('SHOW TABLES;')
print(myc1.fetchall())

In [ ]:
myc1.execute('''
insert into SC_J (sid, cid, score)
values
(1, 001, 84),
(1, 002, 99),
(2, 001, 93),
(2, 002, 100),
(2, 003, 98),
(3, 002, 86),
(3, 003, 57);
''')
db.commit()

In [ ]:
# show SC_J table
myc1.execute('SELECT * FROM SC_J;')
for i in myc1.fetchall():
    print(i)

In [ ]:
# show score > 98 in SC_J table
myc1.execute('SELECT * FROM SC_J where score > 98;')
for i in myc1.fetchall():
    print(i)

In [ ]:
# show score > 98 in SC_J table but remove repeated data
myc1.execute('SELECT distinct * FROM SC_J where score > 98;')

In [ ]:
# show each sid's average score
myc1.execute('SELECT sid, avg(score) FROM SC_J group by sid;')
for i in myc1.fetchall():
    print(i)

In [ ]:
# show max score of each sid
myc1.execute('SELECT sid, max(score) FROM SC_J group by sid;')
for i in myc1.fetchall():
    print(i)

In [ ]:
# show cid < 3 and use decending order
myc1.execute('SELECT * FROM SC_J where cid < 3 order by score desc;')
for i in myc1.fetchall():
    print(i)